<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notebook</title>
    <!-- Icons & Stylesheets -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <!-- Include the library in the page -->
    <script src="vue.js"></script>
    <script src="marked.js"></script>

    <!-- Notebook app -->
     <div id="notebook">
          <!-- Sidebar -->
         <aside class="side-bar">
         <!-- Here will be the note list -->
              <!-- Toolbar -->
             <div class="toolbar">
             <!-- Add note button -->
                <button v-on:click="addNote" v-bind:title="addButtonTitle"><i class="material-icons">add</i> Add note</button>
             </div>
              <div class="notes">
             <!-- Note list here -->
                  <div class="note" v-for="note of notes" @click="selectNote(note)">{{note.title}}</div>
             </div>
         </aside>

         <!-- Main pane -->
         <section class="main">
                <textarea v-model="selectedNote.content"></textarea>
         </section>

          <!-- Preview pane -->
         <aside class="preview"  v-html="notePreview">

         </aside>

     </div>

    <!-- Some JavaScript -->
    <script src="script.js"></script>

</body>
</html>